/**
* General
*/
@font-face {
    font-family: OpenSans;
    src: url("fonts/open_sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/open_sans/Regular/OpenSans-Regular.woff") format("woff"), url("fonts/open_sans/Regular/OpenSans-Regular.woff2") format("woff2"), url("fonts/open_sans/Regular/OpenSans-Regular.ttf") format("truetype"), url("fonts/open_sans/Regular/OpenSans-Regular.svg#odin_roundedlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: OpenSans;
    min-height: 100%;
    height: 100%;
}

html {
    min-height: 100%;
    height:100%;
}

input[type=button], input[type=submit]{
    background-color: transparent;
    border-color: #6d1023;
    color: #6d1023;
    margin-top: 2%;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    border: 2px solid;
    padding: 9px 17px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    transition-property: background-color, border-color, color;
    transition-duration: 0.5s;
    -webkit-transition-property: background-color, border-color, color;
    -webkit-transition-duration: 0.5s;
    -o-transition-property: background-color, border-color, color;
    -o-transition-duration: 0.5s;
    -moz-transition-property: background-color, border-color, color;
    -moz-transition-duration: 0.5s;
}

input[type=button]:hover, input[type=submit]:hover{
    background-color: #6d1023;
    border-color: transparent;
    color: #f4f4f4;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    margin-top: 0.5em;
    padding: 3px 5px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    height: 1.5em;
    border-radius: 0.5em;
}

label {
    font-weight: bold;
}

/**
* Header and nav
*/

#wrapper {
    overflow: auto;
}

#login_bar {
    width: 100%;
    height: 3.5em;
}

.login_el {
    height: 1.5em;
    margin: 1em;
    float: right;
}

#title_header {
    width: 100%;
    height: 12em;
    background-image: url("../images/title_background.jpg");
}

#title_header > p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.5em;
}

#menu {
    float: left;
    width: 200px;
}

#menu > div {
    margin-left: 2em;
    border-bottom: 1px solid #6d1023;
}

#menu > div > a {
    text-decoration: none;
    color: #000000;
    line-height: 2em;
}

#menu > div > a:hover, #menu > div > a.active {
    color: #6d1023;
    font-weight: bold;
}

/**
* Container
*/

#container {
    margin: 20px 250px 20px 250px;
}

.success {
    font-weight: bold;
}


.error {
    font-weight: bold;
    color: #cc0000;
}

#login_box {
    width: 50%;
    float: left;
    height: 20em;
}

#register_box {
    display: inline-block;
    height: 20em;
    margin-left: 10px;
    width: 45%;
}

/**
* Footer
*/

#footer {
    height: 10vh;
    background-color: #241421;
}

#footer > p {
    margin: 0;
    text-align: center;
    line-height: 10vh;
    color: #ffffff;
}

/**
* Table
*/

table {
    border-collapse: collapse;
}

table.data {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#history {
    margin-left: 0;
}
th {
    text-align: center;
    vertical-align: middle;
    padding: 1em 0.5em 1em 0.5em;
}

table.data > tbody > tr.header {
    border: 1px solid #ead5d8;
}

td {
    padding: 0.3em;
    vertical-align: middle;
}

table.data > tbody > tr > td {
    padding: 1em 0.5em 1em 0.5em;
    text-align: center;
    border-bottom: 1px solid #f5e6e8;
    height: 1.5em;
}

td.el_name {
    font-weight: bold;
}

table.data > tbody > tr:nth-child(odd) {
    background: #fff6f7;
}